
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151E3D;
    min-height: 100vh;
    background:b

}
.container
{
    position: relative;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .drop
{
    position: relative;   
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s;
    border-radius: 52% 48% 33% 67% / 38% 45% 55% 62%;
}
.container .drop:hover
{
  border-radius:50% ;
}
.container .drop::before
{
    content: '';
    position: absolute;
    top: 50px;
    width: 35px;
    left: 85px;
    height: 35px;
    border-radius: 50%;
   
    opacity: 0.9;
}
.container .drop::after
{
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    height: 15px;
    width: 15px;
    border-radius: 0%;
   
    opacity: 0.9;
}
.container .drop .content
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.container .drop .content h2
{
 position: relative;
 color:white;
 font-size: 1.5em;
}
.container .drop .content  form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    justify-content: center;
    align-items: center;
}
.container .drop .content  form .inputBox
{
    position: relative;
    
    width: 225px;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0, 0, 0, 0),
    15px 10px 15px rgba(0,0,0,0.025);
    background: rgba(255,255,255,0.5);
    border-radius: 25px;
}
.container .drop .content  form .inputBox::before
{
    content: '';
    position:absolute;
    width: 65%;
    height: 5px;
    border-radius: 5px;
    
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
   
   

    
}
.container .drop .content  form .inputBox input
{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
    padding: 10px 15px;
}
.container .drop .content  form .inputBox input
[type="submit"]
{
    
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1em;
    cursor: pointer;
    font-weight: 500;

}
.container .drop .content  form .inputBox:last-child
{
    width: 120px;
    background: #ff7200;
    transition: 0.5s;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
}
.container .drop .content  form .inputBox:last-child:hover
{
    width: 150px;
}
.btns
{
    position: absolute;
    right: -120px;
    bottom: 0;
    width: 120px;
    height: 120px;
    background:#01b4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    transition: 0.25s;
    box-shadow: inset 10px 10px 10px rgba(1,180,255,0.05),
    15px 25px 10px rgba(1,180,255,0.1),
    15px 20px 20px rgba(1,180,255,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 44% 656% 65% 35% / 57% 58% 42% 43%;
    text-align: center;
}
.btns:hover
{
    border-radius: 50%;
}
.btns::before
{
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
    top: 15px;
    left: 30%;
}

.btns.signup
{
    right: -140px;
    bottom: 150px;
    width: 80px;
    height: 80px;
    border-radius: 68% 32% 52% 48% / 63% 67% 33% 37%;
    background: #D21404;
    box-shadow: inset 10px 10px 10px rgba(255, 1, 26, 0.05),
    15px 25px 10px rgba(255, 1, 1, 0.1),
    15px 20px 20px rgba(255, 1, 1, 0.1),
    inset -10px -10px 15px rgba(190, 36, 36, 0.5);
  
}
.blink {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: #ff7200;
}
nav ul li a:hover
{
    color: #ff7200;
}


.icon{
    width: 400px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img1.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}